<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9a81e8">  <td>18/09/09 12:56:37</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_BankBazaar.bankbazaar()[pri:0, instance:tests.TC_BankBazaar@2ac273d3]">bankbazaar</td> 
  <td>main@1852584274</td>   <td></td> </tr>
<tr bgcolor="9a81e8">  <td>18/09/09 12:56:37</td>   <td>-13</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC_BankBazaar.setData()[pri:0, instance:tests.TC_BankBazaar@2ac273d3]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1852584274</td>   <td></td> </tr>
<tr bgcolor="968ab9">  <td>18/09/09 12:56:36</td>   <td>-855</td> <td title="&gt;&gt;HtmlReporter.startResult()[pri:0, instance:tests.TC_BankBazaar@2ac273d3]">&gt;&gt;startResult</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1852584274</td>   <td></td> </tr>
<tr bgcolor="968ab9">  <td>18/09/09 12:56:37</td>   <td>-8</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HtmlReporter.startTestCase()[pri:0, instance:tests.TC_BankBazaar@2ac273d3]">&gt;&gt;startTestCase</td> 
<td>&nbsp;</td>  <td>main@1852584274</td>   <td></td> </tr>
<tr bgcolor="968ab9">  <td>18/09/09 12:57:03</td>   <td>26060</td> <td title="&lt;&lt;HtmlReporter.stopResult()[pri:0, instance:tests.TC_BankBazaar@2ac273d3]">&lt;&lt;stopResult</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1852584274</td>   <td></td> </tr>
</table>
