<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="af90ec">  <td>18/09/04 23:05:24</td>   <td>0</td> <td title="&gt;&gt;HtmlReporter.startResult()[pri:0, instance:tests.TC004_DuplicateLead@527740a2]">&gt;&gt;startResult</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2042495840</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>18/09/04 23:05:24</td>   <td>495</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC004_DuplicateLead.setData()[pri:0, instance:tests.TC004_DuplicateLead@527740a2]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2042495840</td>   <td></td> </tr>
<tr bgcolor="af90ec">  <td>18/09/04 23:05:25</td>   <td>994</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HtmlReporter.startTestCase()[pri:0, instance:tests.TC004_DuplicateLead@527740a2]">&gt;&gt;startTestCase</td> 
<td>&nbsp;</td>  <td>main@2042495840</td>   <td></td> </tr>
<tr bgcolor="a2a371">  <td>18/09/04 23:05:25</td>   <td>999</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:tests.TC004_DuplicateLead@527740a2]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@2042495840</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>18/09/04 23:05:33</td>   <td>9300</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC004_DuplicateLead.duplicateLead(java.lang.String, java.lang.String)[pri:0, instance:tests.TC004_DuplicateLead@527740a2]">duplicateLead</td> 
  <td>main@2042495840</td>   <td></td> </tr>
<tr bgcolor="a2a371">  <td>18/09/04 23:05:39</td>   <td>15189</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.close()[pri:0, instance:tests.TC004_DuplicateLead@527740a2]">&lt;&lt;close</td> 
<td>&nbsp;</td>  <td>main@2042495840</td>   <td></td> </tr>
<tr bgcolor="af90ec">  <td>18/09/04 23:05:40</td>   <td>15961</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HtmlReporter.startTestCase()[pri:0, instance:tests.TC004_DuplicateLead@527740a2]">&gt;&gt;startTestCase</td> 
<td>&nbsp;</td>  <td>main@2042495840</td>   <td></td> </tr>
<tr bgcolor="a2a371">  <td>18/09/04 23:05:40</td>   <td>15961</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:tests.TC004_DuplicateLead@527740a2]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@2042495840</td>   <td></td> </tr>
<tr bgcolor="ee68d8">  <td>18/09/04 23:05:47</td>   <td>23541</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC004_DuplicateLead.duplicateLead(java.lang.String, java.lang.String)[pri:0, instance:tests.TC004_DuplicateLead@527740a2]">duplicateLead</td> 
  <td>main@2042495840</td>   <td></td> </tr>
<tr bgcolor="a2a371">  <td>18/09/04 23:05:53</td>   <td>29368</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.close()[pri:0, instance:tests.TC004_DuplicateLead@527740a2]">&lt;&lt;close</td> 
<td>&nbsp;</td>  <td>main@2042495840</td>   <td></td> </tr>
<tr bgcolor="af90ec">  <td>18/09/04 23:05:54</td>   <td>30214</td> <td title="&lt;&lt;HtmlReporter.stopResult()[pri:0, instance:tests.TC004_DuplicateLead@527740a2]">&lt;&lt;stopResult</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2042495840</td>   <td></td> </tr>
</table>
